.skeleton-chart{
    width: 100%;
    height: 450px;
    background:gainsboro;
}

.form-dolarHistorico{
    width: 100%;
    text-align: center;
}

#years{
    width: 200px;
    text-align: center;
    font-size: 16px;
}