.news-container-items{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.data-conteiner{
    padding: 25px;
    height: 900px;
    overflow-y: scroll;
}

.titulo-news{
    margin-top: 10px;
    text-align: center;
    color: white;
}