.paper{
    width: 350px;
    height: 450px;
    margin: 10px;
    border: 1px solid white;
}

.paper:hover{
    box-shadow: 5px 5px 5px 5px black;
}

.header-paper{
    width: 100%;
    height: 250px;
    position: relative;
}

.img-paper>img{
    max-width: 100%;
    height: 250px;
    position: absolute;
}

.title-paper>h2{
    position: absolute;
    color: white;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    font-size: 18px;
    margin: 10px;
    background: rgba(0, 0,0,0.5);
}

.title-paper>p{
    position: absolute;
    bottom: 0px;
    color: black;
    font-style: italic;
    background: white;
    width: 100%;
    text-align: center;
}

.title-paper>p::before{
    content:"Date: "
}

.body-paper{
    width: 100%;
    height: 175px;
    margin: 5px;
    position: relative;
}

.body-paper>p{
    padding: 10px;
}

.body-bottom{
    position: absolute;
    bottom: 0px;
}
