.form-busqueda-stock{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    background: cadetblue;
    padding: 5px;
}

.form-busqueda-stock>input{
    width: 200px;
    text-align: center;
    background: gainsboro;
    height: 25px;
    border-radius: 15px;
}